.App {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
}

ol li {
  text-align: left;
}

.main-container {
  margin: 20px;
}

.product-container, .recipe-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.product, .recipe {
  padding: 20px;
  border: 2px solid blue;
}

img {
  width: 200px;
}